<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${username}"/>
<p th:text="${email}"/>
<p th:text="${phone}"/>
<form action="/MarcHighSpeedRail/yuhsin/test/updateInfo" method="post" id="form">
    <p>user:</p>
    <input type="text" name="user"/>
    <p th:text="${msg0}"/>
    <br>
    <p>password:</p>
    <input type="text" name="password"/>
    <p th:text="${msg1}"/>
    <br>
    <p>email:</p>
    <input type="email" name="email"/>
    <p th:text="${msg2}"/>
    <br>
    <p>phone:</p>
    <input type="text" name="phone"/>
    <p th:text="${msg3}"/>
    <br>
    <button type="submit" id="button2">更新</button>
    <p th:text="${msg4}"/>
</form>
<form action="/MarcHighSpeedRail/yuhsin/test/deleteInfo" method="post" id="form2">
    <button type="submit" id="button3">刪除</button>
    <p th:text="${msg5}"/>
</form>
<form action="/MarcHighSpeedRail/yuhsin/test/signout" method="post" id="form3">
    <button type="submit" id="button4">登出</button>
</form>
</body>
</html>